/** Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    html, body {
        background: #006B4F;
        overflow-x: hidden;
    }

    .nav-link {
        color: #EE2D42;
        font-weight: 600;
        font-family: 'Hind Siliguri', sans-serif;
    }

    .nav-link:hover, .nav-link:focus {
        color: #FFF;
    }

    h1, h2, p {
        color: #FFF;
    }

    .hand-logo {
        width: 45%;
    }

    .brick-lane-logo {
        width: 60%;
    }

    #map, .about, .shahid, .bank, .mosque, .brewery, .station {
        width: 90%;
    }

    h1 {
        font-size: 5em;
    }

    h2 {
        font-size: 4em;
    }

    p {
        font-size: 2.5em;
    }

    .nav-link {
        font-size: 3em;
    }

    h2, p {
        color: #FFF;
    }

    .bi-arrow-up-circle-fill {
        font-size: 8em;
        color: #FFF;
    }
}

/** X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    h1 {
        text-align: center;
        font-weight: 700;
        font-family: 'Hind Siliguri', sans-serif;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.3em;
    }

    .nav-link {
        font-size: 1.5em;
    }

    .hand-logo {
        width: 15%;
    }

    .brick-lane-logo {
        width: 30%;
    }

    #map, .about {
        width: 35%;
    }
    .shahid, .bank, .mosque, .brewery, .station {
        width: 100%;
    }

    .bi-arrow-up-circle-fill {
        font-size: 3em;
    }
}

