/** Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    html, body {
        background: #006B4F;
        overflow-x: hidden;
    }

    .nav-link {
        color: #EE2D42;
        font-weight: 600;
        font-family: 'Hind Siliguri', sans-serif;
    }

    .nav-link:hover, .nav-link:focus {
        color: #FFF;
    }

    h1, h2, p {
        color: #FFF;
    }

    .hand-logo {
        width: 45%;
    }

    .brick-lane-logo {
        width: 60%;
    }

    #map, .about, .shahid, .bank, .mosque, .brewery, .station {
        width: 90%;
    }

    path {
        fill: rgba(0, 0, 0, 0);
    }

    h1 {
        font-size: 5em;
        font-weight: bold;
        text-align: center;
    }

    h2 {
        text-align: center;
        font-size: 4em;
        font-weight: bold;
        font-family: 'Hind Siliguri', sans-serif;
    }

    h3 {
        font-size: 3.2em;
        font-weight: bold;
    }

    p {
        font-size: 2.5em;
        text-align: justify;
    }

    .nav-link {
        font-size: 3em;
    }

    h2, h3, p, li {
        color: #FFF;
    }

    .article-spacing {
        margin-top:45px;
    }

    .bi-arrow-up-circle-fill {
        font-size: 8em;
        color: #FFF;
    }

    audio-player {
        width: 100%;
    }

    .audio-container {
        overflow-x: hidden;
    }

}

/** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    p {
        font-size: 2.3em;
        text-align: justify;
    }

    h3 {
        font-size: 3em;
    }
}

/** X-Large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {

    h1 {
        text-align: center;
        font-weight: 700;
        font-family: 'Hind Siliguri', sans-serif;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }

    p {
        font-size: 1.3em;
        text-align: justify;
    }

    .nav-link {
        font-size: 1.5em;
    }

    .hand-logo {
        width: 15%;
    }

    .brick-lane-logo {
        width: 30%;
    }

    #map {
        width: 35%;
    }

    .shahid, .bank, .mosque, .brewery, .station {
        width: 100%;
    }

    .bi-arrow-up-circle-fill {
        font-size: 3em;
    }


}



