h1{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Hind Siliguri', sans-serif;
}

h1, h2, p {
    color: #FFF;
}

li {
    color: #EE2D42;
}


html, body {
    background: #006B4F;
}