/** Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .hand-logo {
        width: 45%;
    }

    .brick-lane-logo {
        width: 60%;
    }

    .map {
        width: 90%;
    }

    .podcasts-column{
        padding-left: 20px;
    }
}