{% extends "layout.html" %}

{% block content %}
    <div class="d-flex justify-content-center py-3">
        <img src="/images/hand.png" alt="The Hand" class="hand-logo">
    </div>
    <div class="d-flex justify-content-center py-3">
        <h1>The Bangla Town Walk</h1>
    </div>
    {% include 'nav.html' %}
    <div class="d-flex justify-content-center py-3">
        <img src="/images/brick_lane.png" alt="Brick Lane signs" class="brick-lane-logo">
    </div>
    <h2>About</h2>
    <div class="d-flex justify-content-center py-3">
        <img src="/images/map.png" alt="Map of Brick Lane">
    </div>
    <h2>Podcast</h2>
    <audio controls>
        <source src="/sounds/test.mp3" type="audio/mpeg">
    </audio>
{% endblock %}
