{% extends "layout.html" %}

{% block content %}
    <div class="col-lg-12 d-flex justify-content-center py-3">
        <img src="/images/hand.png" alt="The Hand" class="hand-logo">
    </div>
    <div class="col-lg-12 d-flex justify-content-center py-3">
        <h1>The Bangla Town Walk</h1>
    </div>
    {% include 'nav.html' %}
    <div class="col-lg-12 d-flex justify-content-center py-3">
        <img src="/images/brick_lane.png" alt="Brick Lane signs" class="brick-lane-logo">
    </div>
    <div class="col-lg-12 d-flex justify-content-center py-3">
        <h2 id="about">About</h2>
    </div>
    <div class="col-lg-12 d-flex justify-content-center py-3">
        <img src="/images/about.jpg" alt="Shani and her mother" class="about">
    </div>
    <div class="row">
        <div class="col-sm-1 col-lg-4">
        </div>
        <div class="col-sm-10 col-lg-4">
            <p>Hi my name is Shantel Leghari, I’m a UAL BA Graphic Design Student (right), I am joined with my mother
                Laila Khan (left), on this fascinating history through Bangla Town (AKA Brick Lane), to reflect and
                discuss the background of the Bengali community that first immigrated to this area since the 70’s-80’s,
                and the issues they’ve faced such as immigration, discrimination and gentrification.
            </p>
            <br/>
            <p>
                I found myself connecting and understanding them as a community reflecting my Pakistani background to
                theirs, especially in this historical and political time of Brexit in the UK.
                The psycho-geographic map above will help guide you through our podcast as you scroll through this
                website, and the podcast will tell you where to go as you do.
            </p>
        </div>
        <div class="col-sm-1 col-lg-4">
        </div>
    </div> <!-- end of row -->
    <div class="col-lg-12 d-flex justify-content-center py-3">
        <h2 id="map">Map</h2>
    </div>
    <div class="col-lg-12 d-flex justify-content-center py-3">
        <!-- insert map here-->
    </div>
    <div class="col-lg-12 d-flex justify-content-center py-3">
        <h2 id="podcast">Podcast</h2>
    </div>
    <div class="podcasts-column">
        <!-- Shahid Minar -->
        <div id="shahid" class="row">
            <div class="col-sm-1 col-lg-4">
            </div>
            <div class="col-sm-10 col-lg-4">
                <p>1. Shahid Minar in Altab Ali Park</p>
            </div>
            <div class="col-sm-1 col-lg-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-lg-4">
            </div>
            <div class="col-sm-10 col-lg-4 d-flex justify-content-center py-3">
                <img src="/images/shahid.jpg" alt="A man taking a photo of the protest" class="shahid">
            </div>
            <div class="col-sm-1 col-lg-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-lg-4">
            </div>
            <div class="col-sm-8 col-lg-4 audio-container justify-content-center py-3">
                <template>
                    <style>
                        button {
                            padding: 0;
                            border: 0;
                            background: transparent;
                            cursor: pointer;
                            outline: none;
                            width: 40px;
                            height: 40px;
                            vertical-align: middle;
                        }

                        #audio-player-container {
                            width: 100%;
                            height: 100%;
                            background: #00513B;
                            font-family: Arial, Helvetica, sans-serif;
                            --seek-before-width: 0%;
                            --buffered-width: 0%;
                        }

                        #audio-player-container::before {
                            position: absolute;
                            content: '';
                            width: calc(100% + 4px);
                            height: calc(100% + 4px);
                            left: -2px;
                            top: -2px;
                            background: linear-gradient(to left, #007db5, #ff8a00);
                            z-index: -1;
                        }

                        p {
                            position: absolute;
                            top: -18px;
                            right: 5%;
                            padding: 0 5px;
                            margin: 0;
                            font-size: 28px;
                            background: #fff;
                        }

                        path {
                            stroke: #FFF;
                            fill: #FFF;
                        }

                        .time {
                            display: inline-block;
                            width: 37px;
                            color: #FFF;
                            text-align: center;
                            font-size: 20px;
                            vertical-align: middle;
                        }

                        input[type="range"] {
                            position: relative;
                            -webkit-appearance: none;
                            width: 74%;
                            padding: 0;
                            height: 19px;
                            outline: none;
                            background: none;
                            vertical-align: middle;
                        }

                        input[type="range"]::-webkit-slider-runnable-track {
                            width: 100%;
                            height: 3px;
                            cursor: pointer;
                            background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
                        }

                        input[type="range"]::before {
                            position: absolute;
                            content: "";
                            top: 8px;
                            left: 0;
                            width: var(--seek-before-width);
                            height: 3px;
                            background-color: #007db5;
                            cursor: pointer;
                        }

                        input[type="range"]::-webkit-slider-thumb {
                            position: relative;
                            -webkit-appearance: none;
                            box-sizing: content-box;
                            border: 1px solid #007db5;
                            height: 15px;
                            width: 15px;
                            border-radius: 50%;
                            background-color: #fff;
                            cursor: pointer;
                            margin: -7px 0 0 0;
                        }

                        input[type="range"]:active::-webkit-slider-thumb {
                            transform: scale(1.2);
                            background: #007db5;
                        }

                        input[type="range"]::-moz-range-track {
                            width: 100%;
                            height: 3px;
                            cursor: pointer;
                            background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
                        }

                        input[type="range"]::-moz-range-progress {
                            background-color: #007db5;
                        }

                        input[type="range"]::-moz-focus-outer {
                            border: 0;
                        }

                        input[type="range"]::-moz-range-thumb {
                            box-sizing: content-box;
                            border: 1px solid #007db5;
                            height: 15px;
                            width: 15px;
                            border-radius: 50%;
                            background-color: #fff;
                            cursor: pointer;
                        }

                        input[type="range"]:active::-moz-range-thumb {
                            transform: scale(1.2);
                            background: #007db5;
                        }

                        input[type="range"]::-ms-track {
                            width: 100%;
                            height: 3px;
                            cursor: pointer;
                            background: transparent;
                            border: solid transparent;
                            color: transparent;
                        }

                        input[type="range"]::-ms-fill-lower {
                            background-color: #007db5;
                        }

                        input[type="range"]::-ms-fill-upper {
                            background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
                        }

                        input[type="range"]::-ms-thumb {
                            box-sizing: content-box;
                            border: 1px solid #007db5;
                            height: 15px;
                            width: 15px;
                            background-color: #fff;
                            cursor: pointer;
                        }

                        input[type="range"]:active::-ms-thumb {
                            transform: scale(1.2);
                            background: #007db5;
                        }
                    </style>
                    <div id="audio-player-container">
                        <audio src="" preload="metadata"></audio>
                        <button id="play-icon"></button>
                        <span id="current-time" class="time">0:00</span>
                        <input type="range" id="seek-slider" max="100" value="0">
                        <span id="duration" class="time">0:00</span>
                    </div>
                </template>
                <audio-player data-src="/sounds/altab_ali_park.mp3"></audio-player>
            </div>
            <div class="col-sm-2 col-lg-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-lg-4">
            </div>
            <div class="col-sm-10 col-lg-4">
                <p>As the map shows, Aldgate Station is the starting point of this podcast, however when you arrive the
                    station, be sure to head to Altab Ali first to begin the podcast.</p>
                <br/>
                <p>We start at this location where my mother and me found ourselves observing a protest by the Bengali
                    community, we felt this was a strong message and representation of them as a community, showing
                    their strength against discrimination towards Hindus in their homeland.</p>
            </div>
            <div class="col-sm-1 col-lg-4">
            </div>
        </div>

        <!-- Sonali Bank -->
        <div id="bank" class="row">
            <div class="col-sm-1 col-lg-4">
            </div>
            <div class="col-sm-10 col-lg-4">
                <p>2. Sonali Bank</p>
            </div>
            <div class="col-sm-1 col-lg-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-lg-4">
            </div>
            <div class="col-sm-10 col-lg-4 d-flex justify-content-center py-3">
                <img src="/images/sonali_bank.jpg" alt="Bangladeshi bank sign" class="bank">
            </div>
            <div class="col-sm-1 col-lg-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-lg-4">
            </div>
            <div class="col-sm-8 col-lg-4 d-flex justify-content-center py-3">
                <template>
                    <style>
                        button {
                            padding: 0;
                            border: 0;
                            background: transparent;
                            cursor: pointer;
                            outline: none;
                            width: 40px;
                            height: 40px;
                            vertical-align: middle;
                        }

                        #audio-player-container {
                            width: 100%;
                            height: 100%;
                            background: #00513B;
                            font-family: Arial, Helvetica, sans-serif;
                            --seek-before-width: 0%;
                            --buffered-width: 0%;
                        }

                        #audio-player-container::before {
                            position: absolute;
                            content: '';
                            width: calc(100% + 4px);
                            height: calc(100% + 4px);
                            left: -2px;
                            top: -2px;
                            background: linear-gradient(to left, #007db5, #ff8a00);
                            z-index: -1;
                        }

                        p {
                            position: absolute;
                            top: -18px;
                            right: 5%;
                            padding: 0 5px;
                            margin: 0;
                            font-size: 28px;
                            background: #fff;
                        }

                        path {
                            stroke: #FFF;
                            fill: #FFF;
                        }

                        .time {
                            display: inline-block;
                            width: 37px;
                            color: #FFF;
                            text-align: center;
                            font-size: 20px;
                            vertical-align: middle;
                        }

                        input[type="range"] {
                            position: relative;
                            -webkit-appearance: none;
                            width: 74%;
                            padding: 0;
                            height: 19px;
                            outline: none;
                            background: none;
                            vertical-align: middle;
                        }

                        input[type="range"]::-webkit-slider-runnable-track {
                            width: 100%;
                            height: 3px;
                            cursor: pointer;
                            background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
                        }

                        input[type="range"]::before {
                            position: absolute;
                            content: "";
                            top: 8px;
                            left: 0;
                            width: var(--seek-before-width);
                            height: 3px;
                            background-color: #007db5;
                            cursor: pointer;
                        }

                        input[type="range"]::-webkit-slider-thumb {
                            position: relative;
                            -webkit-appearance: none;
                            box-sizing: content-box;
                            border: 1px solid #007db5;
                            height: 15px;
                            width: 15px;
                            border-radius: 50%;
                            background-color: #fff;
                            cursor: pointer;
                            margin: -7px 0 0 0;
                        }

                        input[type="range"]:active::-webkit-slider-thumb {
                            transform: scale(1.2);
                            background: #007db5;
                        }

                        input[type="range"]::-moz-range-track {
                            width: 100%;
                            height: 3px;
                            cursor: pointer;
                            background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
                        }

                        input[type="range"]::-moz-range-progress {
                            background-color: #007db5;
                        }

                        input[type="range"]::-moz-focus-outer {
                            border: 0;
                        }

                        input[type="range"]::-moz-range-thumb {
                            box-sizing: content-box;
                            border: 1px solid #007db5;
                            height: 15px;
                            width: 15px;
                            border-radius: 50%;
                            background-color: #fff;
                            cursor: pointer;
                        }

                        input[type="range"]:active::-moz-range-thumb {
                            transform: scale(1.2);
                            background: #007db5;
                        }

                        input[type="range"]::-ms-track {
                            width: 100%;
                            height: 3px;
                            cursor: pointer;
                            background: transparent;
                            border: solid transparent;
                            color: transparent;
                        }

                        input[type="range"]::-ms-fill-lower {
                            background-color: #007db5;
                        }

                        input[type="range"]::-ms-fill-upper {
                            background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
                        }

                        input[type="range"]::-ms-thumb {
                            box-sizing: content-box;
                            border: 1px solid #007db5;
                            height: 15px;
                            width: 15px;
                            background-color: #fff;
                            cursor: pointer;
                        }

                        input[type="range"]:active::-ms-thumb {
                            transform: scale(1.2);
                            background: #007db5;
                        }
                    </style>
                    <div id="audio-player-container">
                        <audio src="" preload="metadata"></audio>
                        <button id="play-icon"></button>
                        <span id="current-time" class="time">0:00</span>
                        <input type="range" id="seek-slider" max="100" value="0">
                        <span id="duration" class="time">0:00</span>
                    </div>
                </template>
                <audio-player data-src="/sounds/sonali_bank.mp3"></audio-player>
            </div>
            <div class="col-sm-2 col-lg-4">
            </div>
        </div>

        <!-- Brick Lane Mosque -->
        <div id="mosque" class="row">
            <div class="col-sm-1 col-lg-4">
            </div>
            <div class="col-sm-10 col-lg-4">
                <p>3. Brick Lane Mosque</p>
            </div>
            <div class="col-sm-1 col-lg-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-lg-4">
            </div>
            <div class="col-sm-10 col-lg-4 d-flex justify-content-center py-3">
                <img src="/images/mosque.jpg" alt="Bangladeshi Mosque" class="mosque">
            </div>
            <div class="col-sm-1 col-lg-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-lg-4">
            </div>
            <div class="col-sm-8 col-lg-4 d-flex justify-content-center py-3">
                <template>
                    <style>
                        button {
                            padding: 0;
                            border: 0;
                            background: transparent;
                            cursor: pointer;
                            outline: none;
                            width: 40px;
                            height: 40px;
                            vertical-align: middle;
                        }

                        #audio-player-container {
                            width: 100%;
                            height: 100%;
                            background: #00513B;
                            font-family: Arial, Helvetica, sans-serif;
                            --seek-before-width: 0%;
                            --buffered-width: 0%;
                        }

                        #audio-player-container::before {
                            position: absolute;
                            content: '';
                            width: calc(100% + 4px);
                            height: calc(100% + 4px);
                            left: -2px;
                            top: -2px;
                            background: linear-gradient(to left, #007db5, #ff8a00);
                            z-index: -1;
                        }

                        p {
                            position: absolute;
                            top: -18px;
                            right: 5%;
                            padding: 0 5px;
                            margin: 0;
                            font-size: 28px;
                            background: #fff;
                        }

                        path {
                            stroke: #FFF;
                            fill: #FFF;
                        }

                        .time {
                            display: inline-block;
                            width: 37px;
                            color: #FFF;
                            text-align: center;
                            font-size: 20px;
                            vertical-align: middle;
                        }

                        input[type="range"] {
                            position: relative;
                            -webkit-appearance: none;
                            width: 74%;
                            padding: 0;
                            height: 19px;
                            outline: none;
                            background: none;
                            vertical-align: middle;
                        }

                        input[type="range"]::-webkit-slider-runnable-track {
                            width: 100%;
                            height: 3px;
                            cursor: pointer;
                            background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
                        }

                        input[type="range"]::before {
                            position: absolute;
                            content: "";
                            top: 8px;
                            left: 0;
                            width: var(--seek-before-width);
                            height: 3px;
                            background-color: #007db5;
                            cursor: pointer;
                        }

                        input[type="range"]::-webkit-slider-thumb {
                            position: relative;
                            -webkit-appearance: none;
                            box-sizing: content-box;
                            border: 1px solid #007db5;
                            height: 15px;
                            width: 15px;
                            border-radius: 50%;
                            background-color: #fff;
                            cursor: pointer;
                            margin: -7px 0 0 0;
                        }

                        input[type="range"]:active::-webkit-slider-thumb {
                            transform: scale(1.2);
                            background: #007db5;
                        }

                        input[type="range"]::-moz-range-track {
                            width: 100%;
                            height: 3px;
                            cursor: pointer;
                            background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
                        }

                        input[type="range"]::-moz-range-progress {
                            background-color: #007db5;
                        }

                        input[type="range"]::-moz-focus-outer {
                            border: 0;
                        }

                        input[type="range"]::-moz-range-thumb {
                            box-sizing: content-box;
                            border: 1px solid #007db5;
                            height: 15px;
                            width: 15px;
                            border-radius: 50%;
                            background-color: #fff;
                            cursor: pointer;
                        }

                        input[type="range"]:active::-moz-range-thumb {
                            transform: scale(1.2);
                            background: #007db5;
                        }

                        input[type="range"]::-ms-track {
                            width: 100%;
                            height: 3px;
                            cursor: pointer;
                            background: transparent;
                            border: solid transparent;
                            color: transparent;
                        }

                        input[type="range"]::-ms-fill-lower {
                            background-color: #007db5;
                        }

                        input[type="range"]::-ms-fill-upper {
                            background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
                        }

                        input[type="range"]::-ms-thumb {
                            box-sizing: content-box;
                            border: 1px solid #007db5;
                            height: 15px;
                            width: 15px;
                            background-color: #fff;
                            cursor: pointer;
                        }

                        input[type="range"]:active::-ms-thumb {
                            transform: scale(1.2);
                            background: #007db5;
                        }
                    </style>
                    <div id="audio-player-container">
                        <audio src="" preload="metadata"></audio>
                        <button id="play-icon"></button>
                        <span id="current-time" class="time">0:00</span>
                        <input type="range" id="seek-slider" max="100" value="0">
                        <span id="duration" class="time">0:00</span>
                    </div>
                </template>
                <audio-player data-src="/sounds/brick_lane_mosque.mp3"></audio-player>
            </div>
            <div class="col-sm-2 col-lg-4">
            </div>
        </div>

        <!-- Truman Brewery -->
        <div id="brewery" class="row">
            <div class="col-sm-1 col-lg-4">
            </div>
            <div class="col-sm-10 col-lg-4">
                <p>4. Truman Brewery</p>
            </div>
            <div class="col-sm-1 col-lg-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-lg-4">
            </div>
            <div class="col-sm-10 col-lg-4 d-flex justify-content-center py-3">
                <img src="/images/brewery.jpg" alt="Brewery's chimney" class="brewery">
            </div>
            <div class="col-sm-1 col-lg-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-lg-4">
            </div>
            <div class="col-sm-8 col-lg-4 d-flex justify-content-center py-3">
                <template>
                    <style>
                        button {
                            padding: 0;
                            border: 0;
                            background: transparent;
                            cursor: pointer;
                            outline: none;
                            width: 40px;
                            height: 40px;
                            vertical-align: middle;
                        }

                        #audio-player-container {
                            width: 100%;
                            height: 100%;
                            background: #00513B;
                            font-family: Arial, Helvetica, sans-serif;
                            --seek-before-width: 0%;
                            --buffered-width: 0%;
                        }

                        #audio-player-container::before {
                            position: absolute;
                            content: '';
                            width: calc(100% + 4px);
                            height: calc(100% + 4px);
                            left: -2px;
                            top: -2px;
                            background: linear-gradient(to left, #007db5, #ff8a00);
                            z-index: -1;
                        }

                        p {
                            position: absolute;
                            top: -18px;
                            right: 5%;
                            padding: 0 5px;
                            margin: 0;
                            font-size: 28px;
                            background: #fff;
                        }

                        path {
                            stroke: #FFF;
                            fill: #FFF;
                        }

                        .time {
                            display: inline-block;
                            width: 37px;
                            color: #FFF;
                            text-align: center;
                            font-size: 20px;
                            vertical-align: middle;
                        }

                        input[type="range"] {
                            position: relative;
                            -webkit-appearance: none;
                            width: 74%;
                            padding: 0;
                            height: 19px;
                            outline: none;
                            background: none;
                            vertical-align: middle;
                        }

                        input[type="range"]::-webkit-slider-runnable-track {
                            width: 100%;
                            height: 3px;
                            cursor: pointer;
                            background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
                        }

                        input[type="range"]::before {
                            position: absolute;
                            content: "";
                            top: 8px;
                            left: 0;
                            width: var(--seek-before-width);
                            height: 3px;
                            background-color: #007db5;
                            cursor: pointer;
                        }

                        input[type="range"]::-webkit-slider-thumb {
                            position: relative;
                            -webkit-appearance: none;
                            box-sizing: content-box;
                            border: 1px solid #007db5;
                            height: 15px;
                            width: 15px;
                            border-radius: 50%;
                            background-color: #fff;
                            cursor: pointer;
                            margin: -7px 0 0 0;
                        }

                        input[type="range"]:active::-webkit-slider-thumb {
                            transform: scale(1.2);
                            background: #007db5;
                        }

                        input[type="range"]::-moz-range-track {
                            width: 100%;
                            height: 3px;
                            cursor: pointer;
                            background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
                        }

                        input[type="range"]::-moz-range-progress {
                            background-color: #007db5;
                        }

                        input[type="range"]::-moz-focus-outer {
                            border: 0;
                        }

                        input[type="range"]::-moz-range-thumb {
                            box-sizing: content-box;
                            border: 1px solid #007db5;
                            height: 15px;
                            width: 15px;
                            border-radius: 50%;
                            background-color: #fff;
                            cursor: pointer;
                        }

                        input[type="range"]:active::-moz-range-thumb {
                            transform: scale(1.2);
                            background: #007db5;
                        }

                        input[type="range"]::-ms-track {
                            width: 100%;
                            height: 3px;
                            cursor: pointer;
                            background: transparent;
                            border: solid transparent;
                            color: transparent;
                        }

                        input[type="range"]::-ms-fill-lower {
                            background-color: #007db5;
                        }

                        input[type="range"]::-ms-fill-upper {
                            background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
                        }

                        input[type="range"]::-ms-thumb {
                            box-sizing: content-box;
                            border: 1px solid #007db5;
                            height: 15px;
                            width: 15px;
                            background-color: #fff;
                            cursor: pointer;
                        }

                        input[type="range"]:active::-ms-thumb {
                            transform: scale(1.2);
                            background: #007db5;
                        }
                    </style>
                    <div id="audio-player-container">
                        <audio src="" preload="metadata"></audio>
                        <button id="play-icon"></button>
                        <span id="current-time" class="time">0:00</span>
                        <input type="range" id="seek-slider" max="100" value="0">
                        <span id="duration" class="time">0:00</span>
                    </div>
                </template>
                <audio-player data-src="/sounds/truman_brewery.mp3"></audio-player>
            </div>
            <div class="col-sm-2 col-lg-4">
            </div>
        </div>

        <!-- Station -->
        <div class="row">
            <div class="col-sm-1 col-lg-4">
            </div>
            <div class="col-sm-10 col-lg-4">
                <p>5. Conclusion at Aldgate Station</p>
            </div>
            <div class="col-sm-1 col-lg-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-lg-4">
            </div>
            <div class="col-sm-10 col-lg-4 d-flex justify-content-center py-3">
                <img src="/images/station.jpg" alt="Entrance of Aldgate East Tube Station" class="station">
            </div>
            <div class="col-sm-1 col-lg-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-lg-4">
            </div>
            <div class="col-sm-8 col-lg-4 d-flex justify-content-center py-3">
                <template>
                    <style>
                        button {
                            padding: 0;
                            border: 0;
                            background: transparent;
                            cursor: pointer;
                            outline: none;
                            width: 40px;
                            height: 40px;
                            vertical-align: middle;
                        }

                        #audio-player-container {
                            width: 100%;
                            height: 100%;
                            background: #00513B;
                            font-family: Arial, Helvetica, sans-serif;
                            --seek-before-width: 0%;
                            --buffered-width: 0%;
                        }

                        #audio-player-container::before {
                            position: absolute;
                            content: '';
                            width: calc(100% + 4px);
                            height: calc(100% + 4px);
                            left: -2px;
                            top: -2px;
                            background: linear-gradient(to left, #007db5, #ff8a00);
                            z-index: -1;
                        }

                        p {
                            position: absolute;
                            top: -18px;
                            right: 5%;
                            padding: 0 5px;
                            margin: 0;
                            font-size: 28px;
                            background: #fff;
                        }

                        path {
                            stroke: #FFF;
                            fill: #FFF;
                        }

                        .time {
                            display: inline-block;
                            width: 37px;
                            color: #FFF;
                            text-align: center;
                            font-size: 20px;
                            vertical-align: middle;
                        }

                        input[type="range"] {
                            position: relative;
                            -webkit-appearance: none;
                            width: 74%;
                            padding: 0;
                            height: 19px;
                            outline: none;
                            background: none;
                            vertical-align: middle;
                        }

                        input[type="range"]::-webkit-slider-runnable-track {
                            width: 100%;
                            height: 3px;
                            cursor: pointer;
                            background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
                        }

                        input[type="range"]::before {
                            position: absolute;
                            content: "";
                            top: 8px;
                            left: 0;
                            width: var(--seek-before-width);
                            height: 3px;
                            background-color: #007db5;
                            cursor: pointer;
                        }

                        input[type="range"]::-webkit-slider-thumb {
                            position: relative;
                            -webkit-appearance: none;
                            box-sizing: content-box;
                            border: 1px solid #007db5;
                            height: 15px;
                            width: 15px;
                            border-radius: 50%;
                            background-color: #fff;
                            cursor: pointer;
                            margin: -7px 0 0 0;
                        }

                        input[type="range"]:active::-webkit-slider-thumb {
                            transform: scale(1.2);
                            background: #007db5;
                        }

                        input[type="range"]::-moz-range-track {
                            width: 100%;
                            height: 3px;
                            cursor: pointer;
                            background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
                        }

                        input[type="range"]::-moz-range-progress {
                            background-color: #007db5;
                        }

                        input[type="range"]::-moz-focus-outer {
                            border: 0;
                        }

                        input[type="range"]::-moz-range-thumb {
                            box-sizing: content-box;
                            border: 1px solid #007db5;
                            height: 15px;
                            width: 15px;
                            border-radius: 50%;
                            background-color: #fff;
                            cursor: pointer;
                        }

                        input[type="range"]:active::-moz-range-thumb {
                            transform: scale(1.2);
                            background: #007db5;
                        }

                        input[type="range"]::-ms-track {
                            width: 100%;
                            height: 3px;
                            cursor: pointer;
                            background: transparent;
                            border: solid transparent;
                            color: transparent;
                        }

                        input[type="range"]::-ms-fill-lower {
                            background-color: #007db5;
                        }

                        input[type="range"]::-ms-fill-upper {
                            background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
                        }

                        input[type="range"]::-ms-thumb {
                            box-sizing: content-box;
                            border: 1px solid #007db5;
                            height: 15px;
                            width: 15px;
                            background-color: #fff;
                            cursor: pointer;
                        }

                        input[type="range"]:active::-ms-thumb {
                            transform: scale(1.2);
                            background: #007db5;
                        }
                    </style>
                    <div id="audio-player-container">
                        <audio src="" preload="metadata"></audio>
                        <button id="play-icon"></button>
                        <span id="current-time" class="time">0:00</span>
                        <input type="range" id="seek-slider" max="100" value="0">
                        <span id="duration" class="time">0:00</span>
                    </div>
                </template>
                <audio-player data-src="/sounds/aldgate_station.mp3"></audio-player>
            </div>
            <div class="col-sm-2 col-lg-4">
            </div>
        </div>
        <div class="d-flex justify-content-center py-3">
            <a href="#" class="o-scroll-up" title="back to top">
                <i class="bi bi-arrow-up-circle-fill"></i>
            </a>
        </div
{% endblock %}
