{% extends "layout.html" %}

{% block content %}
    <div class="col-lg-12 d-flex justify-content-center py-3">
        <img src="/images/hand.png" alt="The Hand" class="hand-logo">
    </div>
    <div class="col-lg-12 d-flex justify-content-center py-3">
        <h1>The Bangla Town Walk</h1>
    </div>
    {% include 'nav.html' %}
    <div class="col-lg-12 d-flex justify-content-center py-3">
        <img src="/images/brick_lane.png" alt="Brick Lane signs" class="brick-lane-logo">
    </div>
    <div class="col-lg-12 d-flex justify-content-center py-3">
        <h2 id="about">About</h2>
    </div>
    <div class="col-lg-12 d-flex justify-content-center py-3">
        <img src="/images/about.jpg" alt="Shani and her mother" class="about">
    </div>
    <div class="row">
        <div class="col-sm-1 col-lg-4">
        </div>
        <div class="col-sm-10 col-lg-4">
            <p>Hi my name is Shantel Leghari, I’m a UAL BA Graphic Design Student (right), I am joined with my mother
                Laila Khan (left), on this fascinating history through Bangla Town (AKA Brick Lane), to reflect and
                discuss the background of the Bengali community that first immigrated to this area since the 70’s-80’s,
                and the
                issues they’ve faced such as immigration, discrimination and gentrification.
            </p>
            <br/>
            <p>
                I found myself connecting and understanding them as a community reflecting my Pakistani background to
                theirs, especially in this historical and political time of Brexit in the UK.
                The psycho-geographic map above will help guide you through our podcast as you scroll through this
                website,
                and the podcast will tell you where to go as you do.
            </p>
        </div>
        <div class="col-sm-1 col-lg-4">
        </div>
    </div> <!-- end of row -->
    <div class="col-lg-12 d-flex justify-content-center py-3">
        <h2 id="map">Map</h2>
    </div>
    <div class="col-lg-12 d-flex justify-content-center py-3">
        {# <img src="/images/map.svg" alt="Map of Brick Lane" class="map"> #}
        <figure id=map>
            <svg width="100%" height="100%" viewBox="0 0 2350 3334" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
                <image width="564px" height="800px" xlink:href="images/map.svg"></image>
                <a xlink:href="#shahid">
                    <circle cx="1489.58" cy="3124.31" r="128.898" style="fill:#ebebeb;fill-opacity:0.8;"/>
                </a>
                <a xlink:href="#bank">
                    <circle cx="1190.64" cy="2394.54" r="128.898" style="fill:#ebebeb;fill-opacity:0.8;"/>
                </a>
                <a xlink:href="#mosque">
                    <circle cx="875.843" cy="1683.08" r="128.898" style="fill:#ebebeb;fill-opacity:0.8;"/>
                </a>
                <a xlink:href="#brewery">
                    <circle cx="931.8" cy="363.657" r="128.898" style="fill:#ebebeb;fill-opacity:0.8;"/>
                </a>
            </svg>
        </figure>
    </div>
    <div class="col-lg-12 d-flex justify-content-center py-3">
        <h2 id="podcast">Podcast</h2>
    </div>
    <div class="podcasts-column">
        <!-- Shahid Minar -->
        <div id="shahid" class="row">
            <div class="col-sm-1 col-lg-4">
            </div>
            <div class="col-sm-10 col-lg-4">
                <p>1. Shahid Minar in Altab Ali Park</p>
            </div>
            <div class="col-sm-1 col-lg-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-lg-4">
            </div>
            <div class="col-sm-10 col-lg-4 d-flex justify-content-center py-3">
                <img src="/images/shahid.jpg" alt="A man taking a photo of the protest" class="shahid">
            </div>
            <div class="col-sm-1 col-lg-4">
            </div>
        </div>

        <!-- Sonali Bank -->
        <div class="row">
            <div class="col-sm-1 col-lg-4">
            </div>
            <div class="col-sm-10 col-lg-4">
                <p>2. Sonali Bank</p>
            </div>
            <div class="col-sm-1 col-lg-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-lg-4">
            </div>
            <div class="col-sm-10 col-lg-4 d-flex justify-content-center py-3">
                <img src="/images/sonali_bank.jpg" alt="Bangladeshi bank sign" class="bank">
            </div>
            <div class="col-sm-1 col-lg-4">
            </div>
        </div>

        <!-- Brick Lane Mosque -->
        <div class="row">
            <div class="col-sm-1 col-lg-4">
            </div>
            <div class="col-sm-10 col-lg-4">
                <p>3. Brick Lane Mosque</p>
            </div>
            <div class="col-sm-1 col-lg-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-lg-4">
            </div>
            <div class="col-sm-10 col-lg-4 d-flex justify-content-center py-3">
                <img src="/images/mosque.jpg" alt="Bangladeshi Mosque" class="mosque">
            </div>
            <div class="col-sm-1 col-lg-4">
            </div>
        </div>
        <!-- Truman Brewery -->
        <div class="row">
            <div class="col-sm-1 col-lg-4">
            </div>
            <div class="col-sm-10 col-lg-4">
                <p>4. Truman Brewery</p>
            </div>
            <div class="col-sm-1 col-lg-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-lg-4">
            </div>
            <div class="col-sm-10 col-lg-4 d-flex justify-content-center py-3">
                <img src="/images/brewery.jpg" alt="Brewery's chimney" class="brewery">
            </div>
            <div class="col-sm-1 col-lg-4">
            </div>
        </div>

        <!-- Station -->
        <div class="row">
            <div class="col-sm-1 col-lg-4">
            </div>
            <div class="col-sm-10 col-lg-4">
                <p>5. Conclusion at Aldgate Station</p>
            </div>
            <div class="col-sm-1 col-lg-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-lg-4">
            </div>
            <div class="col-sm-10 col-lg-4 d-flex justify-content-center py-3">
                <img src="/images/station.jpg" alt="Entrance of Aldgate East Tube Station" class="station">
            </div>
            <div class="col-sm-1 col-lg-4">
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-12">
            <audio controls>
                <source src="/sounds/test.mp3" type="audio/mpeg">
            </audio>
        </div>
        <div class="col-lg-12">
            <p>2. Altab Ali Park</p>
        </div> -->
    <div class="d-flex justify-content-center py-3">
        <a href="#" class="o-scroll-up" title="back to top">
            <i class="bi bi-arrow-up-circle-fill"></i>
        </a>
    </div
{% endblock %}
