{% extends "layout.html" %}

{% block content %}
    <div><h1>The Bangla Town Walk</h1></div>
    {% include 'nav.html' %}
    <audio controls>
        <source src="/sounds/test.mp3" type="audio/mpeg">
    </audio>
{% endblock %}
