{% extends "layout.html" %}

{% block content %}
    <div><h1>Shani's Brick Lane Report</h1></div>
    <audio controls>
        <source src="/sounds/test.mp3" type="audio/mpeg">
    </audio>
{% endblock %}
